*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 8px 0;
    background: #008b8b;
}

.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: nonoe;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500px;
    margin-left: 10px;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600px;
} 


